{% extends "base.html" %}

{% block content %}
<h1>Эксперимент с условием шаблонизатора</h1>

<div class="master-card">
    <p>Имя: {{ user.name }}</p>
    <p>Возраст: {{ user.age }}</p>
    {% if user.is_stuff %}
    {% comment %} BS5 бейдж {% endcomment %}
    <p>Статус: <span class="badge bg-warning">Сотрудник</span></p>
    {% elif user.is_admin %}
    <p>Статус: <span class="badge bg-danger">Администратор</span></p>
    {% else %}
    <p>Статус: <span class="badge bg-secondary">Пользователь</span></p>
    {% endif %}
</div>

{% endblock content %}