{% extends "base.html" %}

{% block content %}
{% comment %} Эксперименты с BS5 системой колонок {% endcomment %}
<div class="row">
    <div class="col">1</div>
    <div class="col">2</div>
    <div class="col">3</div>
</div>
<div class="row">
    <div class="col-8">8 из 12</div>
    <div class="col">Остальное</div>

</div>
<div class="row">
    <div class="col-12 col-md-8">8 из 12</div>
    <div class="col-12 col-md-4">Остальное</div>

</div>
<div class="row">
    <div class="col-12 col-md-6 col-lg-4">Блок 1</div>
    <div class="col-12 col-md-6 col-lg-4">Блок 2</div>
    <div class="col-12 col-md-6 col-lg-4">Блок 3</div>
</div>
{% endblock content %}