{% extends "base.html" %}
{% load static %}
{% comment %} 
Основная работа будет идти в блоке контент

Будем использовать семантические теги <section></section>
пометим секции ID для будущего меню
Каждая секция = BS5 row
Для "экранов" лендинга"

- О нас (8 из 12 колонок фотография static\images\barber.webp 4 из 12 буллеты с BS5 иконками)
- Преимущества. 6 иконок в ряд с каким то текстом преимуществ.
- Наши мастера (вывод мастеров из data.py)
- Наши услуги (вывод услуг из data.py)
- Кнопка запись на услугу (без ссылки)
{% endcomment %}